@import url('./fonts.css');
@import url('./reset.css');

body{
  // overflow-x : hidden;
  --pink: #b72c31;
  --orange: #e36942;
  --yellow: #d48207;
  --green: #10505b;
  --blue: #25476d;
  --purple: #353a71;
  --silver: #c7c8ca;
  --pink-light: #eeb8b0;
  --orange-light: #e9aa95;
  --yellow-light: #eaca96;
  --green-light: #a4beb2;
  --blue-light: #a8bed2;
  --purple-light: #abacca;
  --pink-text: #b62c31;
  --orange-text: #ef5602;
  --yellow-text: #c98000;
  --green-text: #006e82;
  --blue-text: #26476d;
  --purple-text: #4f5381;
  --silver-text: #a1a1a6;
  --background: #fafafa;
  --env-mask: #dcf3ea;
}

$배경검 : rgb(13, 17, 22);

.url-box {
  width: 100%;
  padding: 100px 0;
  p {
    padding:10px 0;
  }
  .first-url {
    padding:20px 0;
    font-size: 30px;

    background-image: linear-gradient(to right, blue, skyblue);
    background-clip: text;
    color: transparent;
  }
}

.title-box {
  width: 100%;
  h4 {
    font-size: 20px;
    padding:500px 0 0 0;
    color:#fff;
  }
  span {
    display: inline-block;
    font-size: 50px;
    padding: 10px 0 10px 0;
    background-image: linear-gradient(120deg, var(--silver-text) 0%, var(--green-text) 40%, var(--yellow-text) 65%, var(--orange-text) 73%, var(--pink-text) 82%, var(--purple-text) 93%, var(--purple-text) 100%);
    background-clip: text;
    color: transparent;
    margin-bottom: 500px;
  }
}


#wrap {
  width: 100%;
  // overflow: hidden;
  #main {
    width: 100%;
    height: auto;
    background-color: rgb(13, 17, 22);
    transition: all 0.5s;
    #section1 {
      width: 100%;
      color:#fff;
      .container {
        width: 100%;
        max-width: 1194px;
        margin:0 auto;
        .ment {
          width: 100%;
          height: 100vh;
          display:flex;
          align-items:center;
          justify-content:center;
          opacity: 0;
          transform: scale(0.8) rotate(-90deg);
          transition: all 1s;
          .gap {
            width: 100%;
            h2 {
              text-align: center;
              font-size: clamp(2rem, 5.8626vw, 7rem); // 70px
              color:#fff;
              line-height: 1.5;
            }
          }
        }
        .ment1 {
          position: relative;
          width: 100%;
          .gap {
            width: 100%;
            h2 {
              animation: sec1Ani2 2s;
              animation-iteration-count: infinite;
              animation-direction: alternate;
            }
            .mouse-wrap {
              position: absolute;
              background-color: lightcoral;
              bottom: 80px;
              left: calc(50% - 14px);
              // position: relative;
              height: auto;
              .mouse {
                position: absolute;
                top: 0;
                left: 0;
                width: 28px;
                height: 28px;
                // margin:50px 0 0 0;
                background: url(../img/computer-mouse.png) no-repeat 50% 50%/cover;
                animation: sec1Ani1 1s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
              }
            }
          }
        }
        .ment6 {
          width: 100%;
          .gap {
            width: 100%;
            h4 {
              text-align: center;
              color:#fff;
              font-size: clamp(2rem, 4.1876vw, 5rem); // 50px

              line-height: 1.5;
            }
          }
        }
      }
    }
    #section2 { // 목차
      position: relative;
      width: 100%;
      color:#fff;
      text-align: center;
      h2 {
        font-size: clamp(2rem, 5.8626vw, 6rem); // 70px
        line-height: 1.5;
      }
      p {
        font-size: clamp(2rem, 1.6750vw, 2rem); // 70px
      }
      .card-background {
        width: 100%;
        max-width: 1194px;
        margin: 0 auto;
        height: auto;
        .card-box {
          top: 50px;
          position: sticky;
          max-width: 80%;
          padding-top: 20px;
          margin:0 auto;
          img {
            display: block;
            width: 100%;
          }
        }
      }
    }
    #section3 {
      width: 100%;
      color:rgb(13, 17, 22);
      .container {
        width: 100%;
        max-width: 1194px;
        height: auto;
        margin:150px auto;
        text-align: center;
        height: auto;

        @extend .title-box;

        .con {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          .left {
            width: 35%;
            height: 4000px;
            position: relative;
            .text-box {
              position: sticky;
              top:100px;
              width: 100%;
              height: 573px;
              .text {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(13, 17, 22);
                width: 100%;
                height: 100%;
                font-size: 30px;
                margin-bottom: 100px;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.5s;
                line-height: 1.5;
                &.text1 {z-index: 5; opacity: 1;}
                &.text2 {z-index: 4; opacity: 1;}
                &.text3 {z-index: 3; opacity: 1;}
                &.text4 {z-index: 2; opacity: 1;}
                &.text5 {z-index: 1; opacity: 1;}
              }
            }
          }
          .right {
            width: 60%;
            height: 4000px;
            position: relative;
            .sticky-box {
              position: sticky;
              top:100px;
              width: 100%;
              // height: 1000px;
              .imac {
                position: relative;
                z-index: 2;
                width: 676px;
                height: 573px;
                background: url(../img/아이맥.png) no-repeat 50% 50%/contain;
              }
              .port_box {
                position: absolute;
                z-index: 1;
                top: 15px;
                left: 15px;
                width: 643px;
                height: 390px;
                .port {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background:url() no-repeat 50% 50%/cover;
                  &.port1 { z-index: 5;background-image: url(../img/port_1-1.png); opacity: 1;}
                  &.port2 { z-index: 4;background-image: url(../img/port_1-2.png); opacity: 1;}
                  &.port3 { z-index: 3;background-image: url(../img/port_1-3.png); opacity: 1;}
                  &.port4 { z-index: 2;background-image: url(../img/port_1-4.png); opacity: 1;}
                  &.port5 { z-index: 1;background-image: url(../img/port_1-5.png); opacity: 1;}
                }
              }
            }
          }
        }

        @extend .url-box;

      }
    }
    #section4 {
      width: 100%;
      .container {
        width: 100%;
        max-width: 1194px;
        height: 3000px;
        margin:150px auto;
        text-align: center;

        @extend .title-box;

        .swiper {
          max-width: 1194px;
          width: 100%;
          height: 700px;
        }

        .swiper-slide {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 18px;
          font-size: 22px;
          font-weight: bold;
          color: #fff;
        }

        .swiper-slide:nth-child(1n) {
          background:url(../img/port_2-1.png) no-repeat 50% 50%/cover;
        }

        .swiper-slide:nth-child(2n) {
          background:url(../img/port_2-2.png) no-repeat 50% 50%/cover;
        }

        .swiper-slide:nth-child(3n) {
          background:url(../img/port_2-3.png) no-repeat 50% 50%/cover;
        }

        .swiper-slide:nth-child(4n) {
          background:url(../img/port_2-4.png) no-repeat 50% 50%/cover;
        }

        .swiper-slide:nth-child(5n) {
          background:url(../img/port_2-5.png) no-repeat 50% 50%/cover;
        }

        .swiper-slide:nth-child(6n) {
          background:url(../img/port_2-6.png) no-repeat 50% 50%/cover;
        }

        p {
          color:#fff;
          font-size: 20px;
          padding:30px 0;
          line-height: 1.5;
          font-weight: 100;
          font-family: 'Nanum Gothic';
          span {
            color:--pink;
            font-size: 30px;
            font-weight: 600;
          }
        }

        @extend .url-box;
      }
    }
    #section5 {
      width: 100%;
      .container {
        position: relative;
        width: 100%;
        // max-width: 1194px;
        height: 3000px;
        margin:150px auto;
        text-align: center;
        .title-box_t {
          z-index: 2;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background-color: $배경검;
          h4 {
            font-size: 20px;
            padding:500px 0 0 0;
            color:#fff;
          }
          span {
            display: inline-block;
            font-size: 50px;
            padding: 10px 0 10px 0;
            background-image: linear-gradient(120deg, var(--silver-text) 0%, var(--green-text) 40%, var(--yellow-text) 65%, var(--orange-text) 73%, var(--pink-text) 82%, var(--purple-text) 93%, var(--purple-text) 100%);
            background-clip: text;
            color: transparent;
            margin-bottom: 500px;
          }
        }

        .sec5-img {
          z-index: 1;
          position: sticky;
          top: 0px;
          width: 100%;
          height: 100vh;
          background: url(../img/port_3-1.png) no-repeat 50% 50%/cover;
          transform: scale(1);
        }
      }
      .img-box {
        width: 1194px;
        height: 2000px;
        margin:0 auto;
        div {
          text-align: center;
          width: 100%;
          height: 100vh;
          background: url(../img/port_3-2.png) no-repeat 50% 50%/cover;
        }
      }
    }
  }
}

@keyframes sec1Ani1 {
  0% {
    opacity: 0;
    top:0;
  }
  50% {
    opacity: 0.1;
    top:0;
  }
  100% {
    opacity: 1;
    top:15px;
  }
}

@keyframes sec1Ani2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}